.registration-section{
	position: relative;
	padding: 105px 0 220px;
	margin-bottom: -145px;
	height: 730px;

	&:before{
		content: '';
		display: block;
		height: 100%;
		width: 100vw;
		position: absolute;
		left: calc(50% - 2560px / 2);
		transform: translateX(-100%);
		background: #000;
		top: 0;
	}

	&:after{
		content: '';
		display: block;
		height: 100%;
		width: 100vw;
		position: absolute;
		left: calc(50% + 2560px / 2);
		background: #000;
		top: 0;
	}

	.section-bg{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		height: 730px;
	}

	.container{
		position: relative;
		z-index: 2;
	}

	.section-caption{
		margin-bottom: 35px;
	}

	.section-head{
		text-align: center;
		margin-bottom: 35px;
	}

	.section-title{
		font-size: 36px;
		line-height: 1.3;
		text-transform: uppercase;
		color: $primary;
		font-weight: 900;

		.small-white{
			font-size: 18px;
			color: #fff;
			font-weight: 400;
			text-transform: none;
			line-height: 1.2;
			display: block;
		}

		.small-orange{
			text-transform: none;
			font-size: 21px;
			line-height: 1.2;
			font-weight: 400;
			// margin-top: -5px;
			display: block;
		}
	}

	@media screen and (max-width: 959px){
		padding-top: 85px;

		.section-caption{
			margin-bottom: 20px;
		}

		.section-head{
			margin-bottom: 25px;
		}
	}

	@media screen and (max-width: 639px){
		background: url(../img/backgrounds/registration-bg-480.jpg) no-repeat center center;
		height: 617px;
		padding: 30px 0 45px;
		margin-bottom: 0;

		.section-bg{
			display: none;
		}

		.section-head{
			margin-bottom: 30px;
		}

		.section-title{
			font-size: 30px;

			.small-white{
				font-size: 16px;
			}

			.small-orange{
				font-size: 18px;
			}
		}
	}

	@media screen and (max-width: 479px){
		padding-top: 45px;
		background: url(../img/backgrounds/registration-bg-320.jpg) no-repeat center center;
		height: 703px;
	}
}

.registration-form{
	.form-fields{
		display: flex;
		width: calc(100% + calc(15px * 2));
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 35px;

		.column{
			padding: 0 15px;
			width: 33.333%;
		}

		@media screen and (max-width: 1199px){
			width: calc(100% + calc(10px * 2));
			margin-left: -10px;
			margin-right: -10px;

			.column{
				padding: 0 10px;
			}
		}

		@media screen and (max-width: 959px){
			flex-wrap: wrap;
			margin-bottom: -5px;

			.column{
				width: 50%;
				margin-bottom: 30px;

				&:first-child{
					width: 100%;
				}
			}
		}

		@media screen and (max-width: 639px){
			margin-bottom: 15px;

			.column{
				width: 100%;
				margin-bottom: 20px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	.form-checkboxes{
		display: flex;
		width: calc(100% + calc(15px * 2));
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 35px;

		.column{
			width: 50%;
			padding: 0 15px;

			&:first-child{
				padding-left: calc(100% / 12 - 30px);
			}
		}

		@media screen and (max-width: 1199px){
			width: calc(100% + calc(10px * 2));
			margin-left: -10px;
			margin-right: -10px;

			.column{
				padding: 0 10px;

				&:first-child{
					padding-left: 10px;
				}
			}
		}

		@media screen and (max-width: 959px){
			flex-wrap: wrap;
			margin-bottom: 20px;

			.column{
				width: 100%;
				margin-bottom: 15px;

				&:last-child{
					margin-bottom: 0;
				}
			}

			br{
				display: none;
			}
		}

		@media screen and (max-width: 639px){
			margin-bottom: 30px;
		}
	}
}